* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}

nav {
    position: fixed;
    background-color: black;
    width: 100%;

    text-align: center;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
}

nav ul li {
    color: white;
    font-family: monospace;
    padding: 1em;
}

nav ul li:hover {
    background-color: burlywood;
}

.banner {
    background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
    background-size: cover;
    height: 25em;
/*     background-position: bottom center;
 */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.content {
    border: 3px solid white;
    padding: 2em;
    margin: 2em;
    background-color: teal;
    opacity: 90%;
    border-radius: 2em;
    
    
}

.content h1 {
    font-weight: bold;
    text-align: center;
}

p {
    padding: 5px;
    text-align: justify;
    margin: 3em 70px 2em;
}

.quote {
    border: 1px solid red;
    color: red;
    padding: 25px;
    margin: 3em 8em 2em;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;

    background-color: black;
    color: white;
    font-family: monospace;
    padding: 2em;

}

footer div ul {
    list-style: none;
}

footer div ul li {
    padding: 1em;
}

footer div ul li:hover {
    background-color: salmon;
}